.rectangle-border-s {
  display: flex;

  width: 100%;

  
  
 
  
  
}

.rectangle-container-s {
  width: 110px;
  height: 150px;
  position: relative;
  
  
 
 
  
}

.rectangle-container-s img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
 
  border: 3px solid white;
  border-radius: 5px;
  
  
  
}




/* .rectangle-container-s .behind-image1 {
  transform: translateX(-100%) ;
  
}
.rectangle-container-s .behind-image2{
  transform: translateX(-190%);
}
.rectangle-container-s .behind-image3{
  transform: translateX(-270%);
}
.rectangle-container-s .behind-image4{
  transform: translateX(-350%);
} */

.rectangle-container-s .behind-image1 {
  transform: translateX(-55%) ;
  
}
.rectangle-container-s .behind-image2{
  transform: translateX(-95%);
}
.rectangle-container-s .behind-image3{
  transform: translateX(-135%);
}
.rectangle-container-s .behind-image4{
  transform: translateX(-175%);
}
.rectangle-container-s .behind-image5{
  transform: translateX(-215%);
}
.rectangle-container-s .behind-image6{
  transform: translateX(-255%);
}